<% if email.read == false %>
	<a href="<%= email_path(email.id)%>" class="list-group-item list-group-item-action list-group-item-dark list-email-<%= email.id%>" data-remote="true">
	  <%= email.object %>
	</a>
<% else %>
		<a href="<%= email_path(email.id)%>" class="list-group-item list-group-item-action list-group-item list-email-<%= email.id%>" data-remote="true">
	  <%= email.object %>
	</a>
<% end %>
